
.fondo3 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.cont-main{
    position: relative;
    background-color: rgb(30, 30, 30,50%);
    display: flex;
    left: 0;
    width: 300px;
    backdrop-filter: blur(10px);
}
li{
    color: rgb(255, 255, 255);
    font-size: 1em;
}