/* estilos del fondo -basados en el dashboard */
.fondo3 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.navbar{
    color:  white;
    position: relative;
    left: -720px;
    /* width: 400px; */
    width: 250px;
    top: -20px;
    height:calc(100vh - 50px) ;
    backdrop-filter: blur(5px);
    background-color: rgba(30, 30, 30, 50%);
}
.list-items ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
  

}
.list-items{
    position: relative;
    top: -100px;

}
.list-items li{
    font-size: 1em;
}

.icon{
    margin-right: 32px;
}